{% extends "main.html" %}

{% block title %}
<title>Home Page</title>
{% endblock title %}

{% block body %}
<main>
    <h1 class="text-center my-5">Blog Post</h1>
    {% for post in data %}
    <div class="container py-4">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h1 class="card-title fs-2 fw-bold">{{ post.title }}</h1>
                        <p class="card-text fs-4">{{ post.content }}</p>
                        <p class="card-text fs-5"> Published by <b>{{ current_user.username }}</b> </p>
                        <p class="card-text fs-6">{{ post.created_at }}</p>
                        <a href="/read_more/{{post._id}}" class="stretched-link btn btn-primary">Read More</a>
                    </div>
                </div>
                <div class="col-md-4">
                    {% if post.image %}
                    <img src="{{ url_for('static', filename=post.image.split('/')[-1]) }}" alt="{{ post.title }}"
                        style="max-width: 100%; height: 100%;">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</main>
{% endblock body %}
